<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['']" routerLinkActive="active">Angular</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/users']" *ngIf="hasRole([ADMIN])" routerLinkActive="active">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/categories']" *ngIf="hasRole([ADMIN, MENTOR])" routerLinkActive="active">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/questions']" *ngIf="hasRole([ADMIN, MENTOR])" routerLinkActive="active">Question</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/quiz']" *ngIf="hasRole([ADMIN, MENTOR, MEMBER])" routerLinkActive="active">Quiz</a>
                </li>
            </ul>
            <div></div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>