<div class="container mt-3">
    <table class="table table-sm table-bordered border-primary">
        <thead class="table-dark">
            <tr>
                <th class="index text-center">
                    <i class="bi bi-three-dots pointer" data-bs-toggle="dropdown" aria-expanded="false"></i>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                        <li><button type="button" class="dropdown-item" (click)="showDialogInsert()"><i class="bi bi-person-plus-fill"></i> New</button></li>
                        <li><button type="button" class="dropdown-item"><i class="bi bi-upload"></i> Upload</button></li>
                    </ul>
                </th>
                <th colspan="2">NAME</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories; let i = index">
                <th class="text-center"> {{i + 1}} </th>
                <td>{{category.name}}</td>
                <td class="index text-center">
                    <i class="bi bi-three-dots pointer" data-bs-toggle="dropdown" aria-expanded="false"></i>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                        <li><button type="button" class="dropdown-item" (click)="showDialogUpdate(category._id)"><i class="bi bi-person-fill"></i> Update</button></li>
                        <li><button type="button" class="dropdown-item" (click)="showDialogDelete(category._id)"><i class="bi bi-person-x-fill"></i> Delete</button></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<button type="button" data-bs-toggle="modal" data-bs-target="#editModal" hidden #openModal></button>
<form autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Category</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModal
            tabindex="-1"></button>
        </div>
        <div class="modal-body">
          <div class="form-group row mb-3">
            <label for="username" class="col-sm-3 col-form-label col-form-label-sm">Name</label>
            <div class="col-sm-9">
              <input type="input" class="form-control form-control-sm" id="username" formControlName="name">
            </div>
            <span class="col-sm-12 alert-danger"
              *ngFor="let msg of form.controls['name'].errors?.messages">{{msg}}</span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-sm btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</form>
